        CUSTOMER CHURN PREDICTION MACHINE LEARNING PROJECT

INTRODUCTION
In the fast-evolving telecommunications industry, addressing customer churn has become a critical focus for strategic initiatives. The Telco Customer Churn Mitigation Project is a comprehensive effort to understand, analyze, and reduce customer attrition within our telecommunications services. By leveraging machine learning techniques, we aim to predict which customers are likely to churn and develop proactive measures to retain them.

PROJECT OBJECTIVES
This project aims to build a machine learning model that predicts the likelihood of a customer churning. We will analyze three datasets from Vodafone telecommunications to uncover patterns and insights.

HYPOTHESES
Null Hypothesis: There is no significant relationship between the likelihood of a customer churning and factors such as payment methods, contract types, and gender.

Alternative Hypothesis: There is a significant relationship between the likelihood of a customer churning and factors such as payment methods, contract types, and gender.

ANALYTICAL QUESTIONS AND INSIGHTS
1.Which payment method has the highest churn?
Understanding the payment methods most associated with churn can help tailor retention strategies. Identifying the highest risk payment methods allows for targeted interventions to improve customer satisfaction and reduce churn.

2.What is the churn rate among senior citizens?
Analyzing churn rates among senior citizens can reveal age-related patterns in customer behavior. Insights from this analysis can guide the development of age-specific retention programs to better address the needs and preferences of senior customers.


3.Are customers with fiber optic internet more likely to churn compared to DSL users?
Comparing churn rates between fiber optic and DSL users can highlight the impact of internet service type on customer retention. These insights can inform decisions on infrastructure investments and service offerings to improve overall customer satisfaction.

4.Which gender are likely to churned more?
Examining churn rates by gender can uncover any gender-specific trends in customer attrition. This information can be used to create personalized retention strategies that address the unique needs and preferences of different gender groups.

5.How does the contract duration affect the likelihood of a customer churning?
Analyzing the relationship between contract duration and churn likelihood can provide valuable insights into customer commitment levels. Longer contracts might indicate higher loyalty, while shorter contracts could suggest a higher risk of churn. This knowledge can inform contract structuring and renewal strategies to enhance customer retention.

IMPORT ALL THE REQUIRED LIBRARIES.

In [1]:
#Import required libraries

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler,MinMaxScaler, RobustScaler
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, OrdinalEncoder
from sklearn.preprocessing import FunctionTransformer
from imblearn.over_sampling import RandomOverSampler, SMOTE
from imblearn.under_sampling import RandomUnderSampler
from sklearn.feature_selection import SelectKBest, mutual_info_classif
from sklearn.datasets import make_classification
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_auc_score,roc_curve,auc
from sklearn.model_selection import GridSearchCV
from imblearn.pipeline import Pipeline as imbpipeline
from sklearn.metrics import roc_curve, roc_auc_score, auc

In [3]:
#Machine learning models

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix
from sklearn.svm import SVC

In [4]:
%pip install pyodbc
%pip install python-dotenv
from dotenv import dotenv_values
import pyodbc

Requirement already satisfied: pyodbc in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (5.1.0)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: python-dotenv in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (1.0.1)
Note: you may need to restart the kernel to use updated packages.

In [5]:
#load environment viarables from .env
environment_variables= dotenv_values('.env')


# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("server")
database = environment_variables.get("database")
username = environment_variables.get("user")
password = environment_variables.get("password")

connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=y"
connection = pyodbc.connect(connection_string)

In [6]:
query= 'Select * from dbo.LP2_Telco_churn_first_3000'

data1= pd.read_sql(query,connection)

C:\Users\DELL\AppData\Local\Temp\ipykernel_9740\3580490053.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data1= pd.read_sql(query,connection)

In [7]:
search_directory = r'C:\Users\DELL\Downloads\PROJECT@AZUBI\CUSTOMER-CHURN-PREDICTION'
file_name = 'Telco-churn-first-3000'
file_path = f'{search_directory}\\{file_name}'

data1.to_csv(file_path, index=False)

In [8]:
data2=pd.read_csv('LP2_Telco-churn-second-2000.csv')
data2.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,5600-PDUJF,Male,0,No,No,6,Yes,No,DSL,No,...,No,Yes,No,No,Month-to-month,Yes,Credit card (automatic),49.50,312.7,No
1,8292-TYSPY,Male,0,No,No,19,Yes,No,DSL,No,...,Yes,Yes,No,No,Month-to-month,Yes,Credit card (automatic),55.00,1046.5,Yes
2,0567-XRHCU,Female,0,Yes,Yes,69,No,No phone service,DSL,Yes,...,Yes,No,No,Yes,Two year,Yes,Credit card (automatic),43.95,2960.1,No
3,1867-BDVFH,Male,0,Yes,Yes,11,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,74.35,834.2,Yes
4,2067-QYTCF,Female,0,Yes,No,64,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,Month-to-month,Yes,Electronic check,111.15,6953.4,No

In [9]:
data3=pd.read_excel('Telco-churn-last-2000.Xlsx')
data3.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges
0,7613-LLQFO,Male,0,No,No,12,Yes,Yes,Fiber optic,No,No,No,No,Yes,No,Month-to-month,Yes,Electronic check,84.45,1059.55
1,4568-TTZRT,Male,0,No,No,9,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,20.40,181.8
2,9513-DXHDA,Male,0,No,No,27,Yes,No,DSL,Yes,No,Yes,Yes,Yes,Yes,One year,No,Electronic check,81.70,2212.55
3,2640-PMGFL,Male,0,No,Yes,27,Yes,Yes,Fiber optic,No,No,No,Yes,No,No,Month-to-month,Yes,Electronic check,79.50,2180.55
4,3801-HMYNL,Male,0,Yes,Yes,1,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,No,Mailed check,89.15,89.15

INSPECTING THE LOADED DATASETS

Preview the dataset by utilizing the info(), isnull(), and duplicated() methods. This approach provides a comprehensive overview of the dataset's structure, missing values, and duplicate records.

In [10]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        3000 non-null   object
 1   gender            3000 non-null   object
 2   SeniorCitizen     3000 non-null   bool
 3   Partner           3000 non-null   bool
 4   Dependents        3000 non-null   bool
 5   tenure            3000 non-null   int64
 6   PhoneService      3000 non-null   bool
 7   MultipleLines     2731 non-null   object
 8   InternetService   3000 non-null   object
 9   OnlineSecurity    2349 non-null   object
 10  OnlineBackup      2349 non-null   object
 11  DeviceProtection  2349 non-null   object
 12  TechSupport       2349 non-null   object
 13  StreamingTV       2349 non-null   object
 14  StreamingMovies   2349 non-null   object
 15  Contract          3000 non-null   object
 16  PaperlessBilling  3000 non-null   bool
 17  PaymentMethod     3000 non-null   object
 18  MonthlyCharges    3000 non-null   float64
 19  TotalCharges      2995 non-null   float64
 20  Churn             2999 non-null   object
dtypes: bool(5), float64(2), int64(1), object(13)
memory usage: 389.8+ KB

In [12]:
data1.isnull().sum()

customerID            0
gender                0
SeniorCitizen         0
Partner               0
Dependents            0
tenure                0
PhoneService          0
MultipleLines       269
InternetService       0
OnlineSecurity      651
OnlineBackup        651
DeviceProtection    651
TechSupport         651
StreamingTV         651
StreamingMovies     651
Contract              0
PaperlessBilling      0
PaymentMethod         0
MonthlyCharges        0
TotalCharges          5
Churn                 1
dtype: int64

In [13]:
data1.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Length: 3000, dtype: bool

In [14]:
data1.describe().T

,count,mean,std,min,25%,50%,75%,max
tenure,3000.0,32.527333,24.637768,0.000000,9.000000,29.000000,56.000000,72.000000
MonthlyCharges,3000.0,65.347400,30.137053,18.400000,35.787499,70.900002,90.262501,118.650002
TotalCharges,2995.0,2301.278315,2274.987884,18.799999,415.250000,1404.650024,3868.725098,8564.750000

OBSERVATIONS

1.Some columns contain null values.
2.The 'Total Charges' column is in an object format.

In [15]:
data2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2043 entries, 0 to 2042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2043 non-null   object
 1   gender            2043 non-null   object
 2   SeniorCitizen     2043 non-null   int64
 3   Partner           2043 non-null   object
 4   Dependents        2043 non-null   object
 5   tenure            2043 non-null   int64
 6   PhoneService      2043 non-null   object
 7   MultipleLines     2043 non-null   object
 8   InternetService   2043 non-null   object
 9   OnlineSecurity    2043 non-null   object
 10  OnlineBackup      2043 non-null   object
 11  DeviceProtection  2043 non-null   object
 12  TechSupport       2043 non-null   object
 13  StreamingTV       2043 non-null   object
 14  StreamingMovies   2043 non-null   object
 15  Contract          2043 non-null   object
 16  PaperlessBilling  2043 non-null   object
 17  PaymentMethod     2043 non-null   object
 18  MonthlyCharges    2043 non-null   float64
 19  TotalCharges      2043 non-null   object
 20  Churn             2043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 335.3+ KB

In [16]:
data2.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [17]:
data2.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2038    False
2039    False
2040    False
2041    False
2042    False
Length: 2043, dtype: bool

In [18]:
data2.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,2043.0,0.168380,0.374295,0.00,0.000,0.00,0.000,1.00
tenure,2043.0,32.649046,24.376248,0.00,9.000,30.00,55.000,72.00
MonthlyCharges,2043.0,64.712555,29.970010,18.55,35.825,70.25,89.625,118.35

OBSERVATIONS

1. The 'Total charges' columns is in an object format

In [19]:
data3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        2000 non-null   object
 1   gender            2000 non-null   object
 2   SeniorCitizen     2000 non-null   int64
 3   Partner           2000 non-null   object
 4   Dependents        2000 non-null   object
 5   tenure            2000 non-null   int64
 6   PhoneService      2000 non-null   object
 7   MultipleLines     2000 non-null   object
 8   InternetService   2000 non-null   object
 9   OnlineSecurity    2000 non-null   object
 10  OnlineBackup      2000 non-null   object
 11  DeviceProtection  2000 non-null   object
 12  TechSupport       2000 non-null   object
 13  StreamingTV       2000 non-null   object
 14  StreamingMovies   2000 non-null   object
 15  Contract          2000 non-null   object
 16  PaperlessBilling  2000 non-null   object
 17  PaymentMethod     2000 non-null   object
 18  MonthlyCharges    2000 non-null   float64
 19  TotalCharges      2000 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 312.6+ KB

In [20]:
data3.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
dtype: int64

In [21]:
data3.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
1995    False
1996    False
1997    False
1998    False
1999    False
Length: 2000, dtype: bool

In [22]:
data3.describe().T

,count,mean,std,min,25%,50%,75%,max
SeniorCitizen,2000.0,0.161500,0.368084,0.00,0.00,0.0,0.000,1.00
tenure,2000.0,31.853000,24.632677,0.00,8.00,27.0,55.000,72.00
MonthlyCharges,2000.0,63.933325,30.136858,18.25,34.25,69.8,89.275,118.75

OBSERVATIONS
1 The 'Total charges' column is in a string format

EXAMINE EACH COLUMN IN THE FIRST DATASET TO IDENTIFY ANY ANOMALIES.

In [23]:
data1.head(2)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,False,True,False,1,False,None,DSL,False,...,False,False,False,False,Month-to-month,True,Electronic check,29.850000,29.85,False
1,5575-GNVDE,Male,False,False,False,34,True,False,DSL,True,...,True,False,False,False,One year,False,Mailed check,56.950001,1889.50,False

OBSERVATIONS

It is noticeable that most of the columns are in boolean format and need to be standardized into string format.

In [24]:
# convert boolean values in the senior citizen column to strings
data1['SeniorCitizen']= data1['SeniorCitizen'].replace({False:'No', True:'Yes'})

# convert boolean values in the partner column to strings
data1['Partner']= data1['Partner'].replace({False:'No', True:'Yes'})

# convert boolean values in the dependants column to strings
data1['Dependents']= data1['Dependents'].replace({False:'No', True:'Yes'})

# convert boolean values in the phone service column to strings
data1['PhoneService']= data1['PhoneService'].replace({False:'No', True:'Yes'})

# convert boolean values in the MultipleLines column to strings
data1['MultipleLines']= data1['MultipleLines'].replace({False:'No', True:'Yes', None:'No phone service'})

# convert boolean values in the OnlineSecurity column to strings
data1['OnlineSecurity']= data1['OnlineSecurity'].replace({False:'No', True:'Yes', None:'No internet service'})

In [25]:
# convert boolean values in the OnlineBackup column to strings
data1['OnlineBackup']= data1['OnlineBackup'].replace({False:'No', True:'Yes', None:'No internet service'})

# convert boolean values in the DeviceProtection column to strings
data1['DeviceProtection']= data1['DeviceProtection'].replace({False:'No', True:'Yes', None:'No internet service'})

# convert boolean values in the TechSupport column to strings
data1['TechSupport']= data1['TechSupport'].replace({False:'No', True:'Yes', None:'No internet service'})

# convert boolean values in the StreamingTV column to strings
data1['StreamingTV']= data1['StreamingTV'].replace({False:'No', True:'Yes', None:'No internet service'})

# convert boolean values in the StreamingMovies column to strings
data1['StreamingMovies']= data1['StreamingMovies'].replace({False:'No', True:'Yes', None:'No internet service'})

# convert boolean values in the PaperlessBilling column to strings
data1['PaperlessBilling']= data1['PaperlessBilling'].replace({False:'No', True:'Yes', None:'No internet service'})

# convert boolean values in the Churn column to strings
data1['Churn']= data1['Churn'].replace({False:'No', True:'Yes'})

CONVERT THE 'SENIOR CITIZEN' COLUMN IN BOTH DATA2 AND DATA3 TO STRING VALUES.

In [26]:
# Replace int values in the senior citizen column of data2 to string values
data2['SeniorCitizen']= data1['SeniorCitizen'].replace({False:'No', True:'Yes'})

# Replace int values in the senior citizen column of data3 to string values
data3['SeniorCitizen']= data1['SeniorCitizen'].replace({False:'No', True:'Yes'})

RENAME CERTAIN COLUMNS TO A STANDARDIZED FORMAT.

In [27]:
#Rename the customerID, gender and tenure columns in data1
data1= data1.rename(columns={'customerID':'CustomerID', 'gender':'Gender','tenure':'Tenure' })

#Rename the customerID, gender and tenure columns in data1
data2= data2.rename(columns={'customerID':'CustomerID', 'gender':'Gender','tenure':'Tenure' })

#Rename the customerID, gender and tenure columns in data1
data3= data3.rename(columns={'customerID':'CustomerID', 'gender':'Gender','tenure':'Tenure' })

DROP NULL VALUES IN THE CHURN COLUMN OF DATA1 AND CONFIRM THE RESULTS

In [29]:
# Drop rows with NaN values in the 'Churn' column
data1.dropna(subset=['Churn'], inplace=True)
data1['Churn'].isnull().sum()

0

MERGED DATA1 AND DATA3 FOR FURTHER ANALYSIS.

In [30]:
# Combined data1 and data3 for further analysis and training
merged_data= pd.concat([data1, data3])
merged_data

,CustomerID,Gender,SeniorCitizen,Partner,Dependents,Tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,No,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.850000,29.85,No
1,5575-GNVDE,Male,No,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.950001,1889.5,No
2,3668-QPYBK,Male,No,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.849998,108.150002,Yes
3,7795-CFOCW,Male,No,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.299999,1840.75,No
4,9237-HQITU,Female,No,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.699997,151.649994,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1995,7912-SYRQT,Female,Yes,No,No,7,Yes,Yes,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),75.100000,552.95,NaN
1996,3557-HTYWR,Female,No,No,No,47,Yes,Yes,DSL,Yes,...,No,Yes,No,Yes,Two year,No,Mailed check,74.050000,3496.3,NaN
1997,4816-JBHOV,Male,No,No,No,2,Yes,No,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,44.700000,93.7,NaN
1998,8920-NAVAY,Male,No,No,No,62,Yes,Yes,Fiber optic,No,...,Yes,Yes,Yes,Yes,One year,Yes,Bank transfer (automatic),110.750000,7053.35,NaN
1999,1699-TLDLZ,Female,No,Yes,Yes,16,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.700000,301.55,NaN

CONVERT MERGED DATA TO A CSV FILE

In [40]:
search_directory = r'C:\Users\DELL\Downloads\PROJECT@AZUBI\CUSTOMER-CHURN-PREDICTION'
file_name = 'Cleaned_data'
file_path = f'{search_directory}\\{file_name}'

merged_data.to_csv(file_path, index=False)

In [41]:
Cleaned_data= pd.read_csv('Cleaned_data')
Cleaned_data

FileNotFoundError: [Errno 2] No such file or directory: 'Cleaned_data'

OBSERVATIONS

1.The Tenure column exhibits a bimodal distribution.
2.The Total Charges column shows a positive skew.

BIVARIATE ANALYSIS